

body{
    position:relative;
    background: #93B5C6;
     
     font-family: Arial, Helvetica, sans-serif;
     margin: 0;
     padding: 0;
}


#header{
    position:relative;
    background: #272D2D;
    outline: 3px black;
    margin: 0%;
    padding: 0.5%;
    height: 10vh;
}

#bodyLeft{
    position:relative;
    background: #05f043;
    width: 110vh;
    height: 60vh;
}

#aboutMe{
    background: #cf5e18;
    outline: 3px black;
    margin-top: 10%;
    margin-left: 5%;
    width: 50vh;
    height: 7vh;
}

#text{
    /* float: left; */
    background: #93B5C6;
    outline: 3px black;
    margin-top: 15%;
    margin-left: 5%;
    width: 50vh;
    height: 40vh;
}


#bodyRight{
    position:relative;
    background: #cd0e9a;
    width: 15vh;
    height: 60vh;
}

#picture{
    background: #272D2D;
    outline: 3px black;
    margin-top: 5%;
    margin-right: 5%;
    width: 75vh;
    height: 70vh;
}

.padding{
width:65vh;
height:60vh;
padding: 5vh;
filter: brightness(80%);
} 


